<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 nav-logo">
             <h4>Discount card management:</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 nav-logo">
            <ol>
                <li><a href="{% url 'cards-list' %}"> List of cards </a></li>
                <li><a href="{% url 'search-page' %}">Search card</a></li>
                <li><a href="{% url 'change-status' %}">Change status of card</a></li>
                <li><a href="{% url 'delete-page' %}">Delete card</a></li>
            </ol>
        </div>
    </div>
</div>